@charset "UTF-8";

html {
  touch-action: manipulation;
}

body {
  margin: 0;
  background-color: #ccffff;
}

#contents {
  max-width: 500px;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  background-color: white;
}

h1 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  color: #000055;
  background-color: #c0cbff;
}

div {
  padding-bottom: 5px;
}

#version-info {
  font-size: 0.9rem;
  font-weight: bold;
  color: #bbbbbb;
}

#reload {
  float: left;
  height: 60px;
  margin: 0 15px;
}

#speed-info {
  display: flex;
  justify-content: flex-end;
  float: right;
  width: auto;
  height: 30px;
  margin: 15px;
  font-size: 30px;
}

a.button {
  display: inline-block;
  width: 60px;
  height: 60px;
  margin: 15px;
  user-select: none;
  border-radius: 100%;
}

g {
  user-select: none;
}

g.button {
  cursor: pointer;
}

table {
  margin: 10px auto;
  font-size: 1.2rem;
  border-collapse: collapse;
  background-color: #f8f8ff;
}

th {
  font-weight: bold;
  color: #000055;
  background-color: #c0cbff;
}

th,
td {
  padding: 5px 20px;
  border: solid 2px #000055;
}
